In [73]:
import requests as r
from bs4 import BeautifulSoup
import pandas as pd
import locale, time
from tqdm.notebook import tqdm, trange

In [74]:
url = 'https://www.trackalytics.com/the-most-followed-instagram-profiles/page/1/'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/67.0.3396.87 Safari/537.36'}

In [ ]:
locale.setlocale( locale.LC_ALL, 'en_US.UTF-8' ) 
wp = r.get(url, headers=headers).text
soup = BeautifulSoup(wp, 'html.parser')
pages = soup.find(id='paging').next_element.next_element.next_element.next_element.next_element
pages = int(pages.split()[3])
row_collector = []
progress = tqdm(range(1,pages))
for page in progress:
  p_url = 'https://www.trackalytics.com/the-most-followed-instagram-profiles/page/' + str(page) + '/'
  tp = r.get(p_url, headers=headers).text
  tsoup = BeautifulSoup(tp, 'html.parser')
  rows = tsoup.findAll("tr")
  for row in range(1,25):
    profile = rows[row].find(style='vertical-align:middle;width:45px;height:45px;').next_element.contents[0]
    followers = rows[row].find(style='vertical-align:middle;width:45px;height:45px;').next_element.next_element.next_element.next_element.contents[0].split()[0]
    followers = locale.atoi(followers)
    temp = [profile,followers]
    row_collector.append(temp)
   # Enter rate limiting per page here
df = pd.DataFrame(row_collector)
df[['profile','followers']] = df[[0,1]]
del df[0]
del df[1]

In [83]:
df.head(100)

                    profile  followers
0                 Instagram  385415666
1         Cristiano Ronaldo  245563850
2                   therock  216269287
3             Ariana Grande  215914429
4                     Kylie  212615316
..                      ...        ...
95                    Adele   39511354
96                     DOVE   39406051
97              Luis Suarez   39268694
98  Conor McGregor Official   39240851
99               Zayn Malik   39089498

[100 rows x 2 columns]